<!DOCTYPE html>
<html>
	<head>
		<title>Login/Register</title>
	</head>
	<body>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
				{% for category, message in messages %}
					<p style="color: red;"> {{ message }} </p>
				{% endfor %}
			{% endif %}
		{% endwith %}
		<div>
			<form action="/login" method="post">
				<h1>Login</h1>
				<table>
					<tbody>
						<tr>
							<td>Email:</td>
							<td><input type="text" name="logemail"></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input type="password" name="logpassword"></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" name="submit" style="float: right;"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
		<div>
			<form action="/process" method="post">
				<h1>Register</h1>
				<table>
					<tbody>
						<tr>
							<td>First Name:</td>
							<td><input type="text" name="first"></td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td><input type="text" name="last"></td>
						</tr>
						<tr>
							<td>Email:</td>
							<td><input type="text" name="email"></td>
						</tr>
						<tr>
							<td>Password:</td>
							<td><input type="password" name="password"></td>
						</tr>
						<tr>
							<td>Confirm Password:</td>
							<td><input type="password" name="confirm"></td>
						</tr>
						<tr>
							<td></td>
							<td><input type="submit" name="submit" style="float: right;"></td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</body>
</html>